@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"); /*For headings*/

h3 {
  font-size: calc(35px + 0.5vw);
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none !important;
  color: gray;
  transition: 0.2s;
}

a:hover {
  color: black;
}

footer {
  font-size: calc(8px + 0.5vw) !important;
  opacity: 0.7;
}

footer a {
  text-decoration: none !important;
  opacity: 0.7;
  color: black !important;
}

footer a:hover {
  opacity: 1 !important;
}
