a {
  text-decoration: none !important;
  color: gray;
  transition: 0.2s;
}

a:hover {
  color: black;
}

footer {
  font-size: calc(8px + 0.5vw);
  opacity: 0.7;
}

footer a {
  text-decoration: none !important;
  opacity: 0.7;
  color: black !important;
}

footer a:hover {
  opacity: 1 !important;
}
